*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bleu-clair);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.list-unstyled {
    margin-bottom: 0px;
    list-style: none;
}

.background__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

h1,
h2,
h3 {
    font-family: var(--Butler);
    font-style: normal;
    font-weight: 700;
}

h1 {
    color: var(--bleu-clair);
    text-align: center;
    font-size: var(--fs-xxl);
    line-height: 100%;
    margin-right: 25px;
    margin-left: 25px;
}

h2 {    
    color: var(--bleu-foncé);
    font-size: var(--fs-xl);
    line-height: 110%;
    margin-right: var(--space2x);
    margin-left: var(--space2x);
}

h2::after {
    content: "";
    display: block;
    background-color: var(--bleu-foncé);
    margin-top: var(--space1x);
    width: 229px;
    height: 1.5px;
}

h2.card__title::after {
    content: none;
}

h3 {
    color: var(--bleu-foncé);
    font-size: var(--fs-m);
    line-height: 110%;
    margin-right: var(--space2x);
    margin-left: var(--space2x);
}

h3::after {
    content: "";
    display: block;
    background-color: var(--bleu-foncé);
    margin-top: var(--space1x);
    width: 229px;
    height: 1.5px;
}

h4 {
    font-family: var(--Montserrat);
    font-size: var(--fs-xs);
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-right: var(--space2x);
    margin-left: var(--space2x);
}

p {
    color: var(--bleu-inter);
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-right: var(--space2x);
    margin-left: var(--space2x);
    font-size: var(--fs-xs);
}