*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bleu-clair);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.background__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}