.footer {
    background: linear-gradient(180deg, #C5E9FF 0%, #11307A 23%, #1E054E 100%);
    font-size: var(--fs-xs);
}

.footer__logo {
    display: block;
    margin: var(--space2x);
    margin-bottom: 0px;
    padding-top: 25px;
    margin-top: 0px;
}

.footer__title {
    color: var(--bleu-clair);
    margin-top: var(--space2x);
    margin-bottom: var(--space1x);
}

.footer__text {
    color: var(--gris);
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer__mail {
    color: var(--gris);
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-left: var(--space2x);
    margin-right: var(--space2x);
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}

.footer__link {
    color: var(--gris);
    text-decoration: none;
}

.footer__list {
    display: flex;
    gap: var(--space1x);
    padding-left: var(--space2x);
    padding-bottom: var(--space2x);
}

.footer__list img {
    object-fit: contain;
    margin-right : var(--space1x);
}