
.cards--home{
    margin-bottom: var(--space2x);
}

.card--home{
    border-radius: 15px;
    background: var(--fond-cards);
    margin: var(--space2x);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__title--home {
    margin: var(--space2x);
}

.card__description--home {
    font-size: var(--fs-s);
    margin-bottom: var(--space2x);
    margin-top: 0px;
}

.card__img--home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px 15px 0px 0px;
}