
.cards--home{
    margin-bottom: var(--space2x);
}


.card--home{
    border-radius: 15px;
    background: var(--fond-cards);
    margin: var(--space2x);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__title--home{
    color: var(--bleu-foncé);
    font-family: var(--Butler);
    font-size: var(--fs-xl);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin: var(--space2x);
}

.card__description--home{
    color: var(--bleu-inter);
    font-family: var(--Montserrat);
    font-size: var(--fs-s);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: var(--space2x);
    margin-top: 0px;
}

.card__img--home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px 15px 0px 0px;
}