.contact__form {
    margin-right: var(--space2x);
    margin-left: var(--space2x);
}

.contact__group::after {
    content: "";
    background-color: var(--bleu-foncé);
    width: 300px;
    height: 1px;
    display: block;
    margin-top: var(--space2x);
    margin-bottom: 15px;
    margin-right: var(--space2x);
}

.contact__group__message {
    display: flex;
    margin-bottom: 150px;
}

.contact__group__message::after {
    content: "";
    width: 300px;
    height: 130px;
    border: 1px solid var(--bleu-foncé);
    margin-right: var(--space2x);
    margin-top: var(--space4x);
    margin-bottom: 16px;
    display: block;
    position: absolute;
}

.contact__item {
    color: var(--bleu-foncé);
    font-size: var(--fs-xs);
    margin: 0px;
}

.contact__champ {
    margin-left: 150px;
    margin-bottom: var(--space2x);
    margin-right: 0px;
    padding-top: var(--space1x);
    font-size: var(--fs-s);

}