.contact__form {
    margin-right: var(--space2x);
    margin-top: var(--space5x);
}

.contact__group::after {
    content: "";
    background-color: var(--bleu-foncé);
    width: 300px;
    height: 1px;
    display: block;
    margin: var(--space2x) var(--space2x) 15px var(--space2x);
}

.contact__group__message {
    display: flex;
    margin-bottom: 150px;
}

.contact__group__message::after {
    content: "";
    width: 300px;
    height: 130px;
    border: 1px solid var(--bleu-foncé);
    margin: var(--space4x) var(--space2x) 15px var(--space2x);
    display: block;
    position: absolute;
}

.contact__item {
    color: var(--bleu-foncé);
    font-size: var(--fs-xs);
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact__champ {
    margin-bottom: var(--space2x);
    padding-top: var(--space2x);
    font-size: var(--fs-s);
}