.hero__description--secondaire {
    margin-top: 152px;
    margin-bottom: var(--space2x);
    font-size: var(--fs-xs);
}

.hero__title {
    margin-top: 75px;
}

.hero__title--home {
    color: var(--bleu-foncé);
    padding-top: 90px;
    margin:0
}

.hero__description--home {
    font-size: var(--fs-m);
    margin-top: 265px;
}







