.section__timeline {
    display: flex;
    flex-direction: column;
    margin-top: var(--space1x);
}

.card--timeline {
    margin: 0px var(--space2x) 100px var(--space2x);
    position: relative;
    display: flex;
    height: auto;
}

.card__title--timeline {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.card__content--timeline {
    padding: var(--space2x);
}

.card__name_object--timeline{
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 700;
    font-size: var(--fs-xs);
    margin: 0px;
}

.card__description--timeline {
    margin-bottom: var(--space1x);
    margin-left: 0px;
    margin-right: 0px;
}

.card__img--timeline {
    border-radius: 0px;
    margin: 0px;
}

.card--timeline::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    background: repeating-linear-gradient(to bottom,
            var(--bleu-foncé),
            var(--bleu-foncé) 4px,
            transparent 4px,
            transparent 8px);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.card:last-child::after {
    display: none;
}